@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

/* utilities */

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  font-family: "Rubik", sans-serif;
}

body {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
}

a {
  color: white;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  position: relative;
}

a:active {
  color: #cccccc;
}

a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 0;
  height: 1px;
  background-color: #cccccc;
  transition: width 0.3s ease-in-out;
}

a:active::after {
  width: 100%;
}

.container {
  margin-inline: 20px;
  width: clamp(17.5rem, -2.273rem + 98.86vw, 71.875rem);
  position: relative;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  scroll-margin-top: 30px;
}

.no-scroll {
  overflow: hidden;
}

/* burger */

.burger-menu {
  background-color: #484283;
  color: white;
  position: fixed;
  top: 50px;
  left: 0;
  bottom: 0;
  font-size: 20px;
  width: 230px;
  transition: all 1s ease-in-out;
  translate: -230px;
  z-index: 10;
}

.burger-menu.active {
  translate: 0;
}

.nav-list {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  list-style: none;
  padding-left: 20px;
  gap: 30px;
}

/* header */

header {
  position: sticky;
  top: 0;
  background-color: #484283;
  z-index: 20;
}

.header-basket {
  background-color: #484283;
  border: none;
  position: relative;
}

.basket-items-toggle {
  background-color: #f14f4f;
  color: #fff;
  height: 16px;
  width: 16px;
  border-radius: 8px;
  position: absolute;
  bottom: -2px;
  right: -6px;
}

.basket-items-disable {
  display: none;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px #ffffff78 solid;
  padding-block: 15px;
}

.header-nav-list {
  display: none;
  padding-top: 20px;
  flex-direction: column;
  list-style: none;
  padding-left: 20px;
  gap: 30px;
}

/* header-burger */

.burger {
  display: block;
  background-color: #484283;
  border: none;
  margin: 0;
  padding: 0;
  width: 24px;
  height: 24px;
  position: relative;
  span {
    background-color: white;
    position: absolute;
    width: 24px;
    height: 3px;
    transition: all 0.3s ease-in-out;
  }
  span:nth-child(1) {
    top: 0;
    left: 0;
  }
  span:nth-child(2) {
    top: 50%;
    translate: 0 -50%;
    left: 0;
  }
  span:nth-child(3) {
    left: 0;
    bottom: 0;
  }
}

.burger.active {
  span:nth-child(2) {
    opacity: 0;
  }
  span:nth-child(1) {
    rotate: -45deg;
    top: 10px;
  }
  span:nth-child(3) {
    rotate: 45deg;
    top: 10px;
  }
}

.header-wraper-for-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

/* main */

/* dialog-product */

.dialog-product::backdrop {
  background-color: rgba(0, 0, 0, 0.4);
}

.dialog-container {
  width: clamp(15.313rem, -3.333rem + 93.23vw, 71.25rem);
}

.dialog-products-2sides {
  display: flex;
  flex-direction: column;
}

.dialog-product {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-height: 200px;
  color: #444b58;
}

.rating {
  padding-bottom: 16px;
}

.rating-star {
  color: #f14f4f;
  font-size: 16px;
}

.big-imgs {
  padding-top: 20px;
  display: flex;
  position: relative;
  overflow: hidden;
  width: clamp(14.688rem, -20.734rem + 73.8vw, 30rem);
  height: 250px;
  padding-bottom: 100px;
  border-radius: 5px;
  overflow: hidden;
}

.big-img {
  position: absolute;
  z-index: -1;
  width: clamp(14.688rem, -20.734rem + 73.8vw, 30rem);
  max-height: 300px;
  overflow: hidden;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.big-img-z {
  position: relative;
  z-index: 2;
}

.small-imgs {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  width: 100%;
  height: 150px;
}

.small-img-wrapper {
  height: 75px;
  width: 75px;
}

.small-img {
  width: 75px;
  height: 75px;
  border-radius: 5px;
  object-fit: cover;
}

.add-to-cart {
  height: 60px;
  min-width: 100%;
  color: white;
  background-color: #f14f4f;
  border: none;
  border-radius: 5px;
}

.prices {
  display: flex;
  padding-bottom: 16px;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}

.price-sale {
  font-size: 24px;
  color: #444b58;
}

.price-no-sale {
  font-size: 16px;
  color: #b2b5bb;
}

.dialog-product-header {
  display: flex;
  font-size: 14px;
  color: #b2b5bb;
  gap: 15px;
  padding-block: 16px;
}

.dialog-product-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: 100;
  padding-bottom: 16px;
}

.size-btn {
  width: 45px;
  height: 32px;
  background-color: white;
  color: #444b58;
  border: #b2b5bb 0.1px solid;
  border-radius: 5px;
  transition: all 0.8s ease-in-out;
}

.size-btn:hover {
  background-color: #b2b5bb50;
}

.size-btns {
  padding-bottom: 16px;
}

.plus-delivery {
  color: #b2b5bb;
}

.pluses-delivery {
  padding-block: 16px;
}

.description {
  color: #444b58;
}

.description-title {
  font-size: 24px;

  padding-bottom: 12px;
}

.description-main {
  font-size: 16px;
  padding-bottom: 16px;
}

.characteristic {
  color: #444b58;
}

.characteristic-title {
  font-size: 24px;
  padding-bottom: 12px;
}

.characteristic-main {
  font-size: 16px;
  padding-bottom: 16px;
}

/* dialog-basket */

.dialog-basket::backdrop {
  background-color: rgba(0, 0, 0, 0.4);
}

.dialog-container-basket {
  width: clamp(13.75rem, 6.364rem + 36.93vw, 30rem);
  /* width: 100%; */
}

.dialog-container-basket-hidden {
  display: none;
}

.dialog-basket {
  top: 32%;

  left: 50%;
  position: fixed;
  transform: translate(-50%, -50%);

  width: clamp(16.25rem, 8.295rem + 39.77vw, 33.75rem);
  min-height: 100px;
  color: #444b58;
  background-color: #fff;
}

.basket-scroll {
  display: flex;
  flex-direction: column;
  min-height: 20px;
  padding-block: 10px;
  margin: 0;
  width: 100%;
  max-height: 240px;
  overflow: auto;
}

.basket-main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-block: 20px;
  width: 100%;
}

.basket-sum {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.basket-sum-title {
  justify-content: flex-start;
  font-size: 14px;
  font-weight: 400;
}

.basket-sum-subtitle {
  font-size: 20px;
  font-weight: 700;
}

.basket-button {
  background-color: #f14f4f;
  color: white;
  width: 160px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  border-radius: 5px;
  border: none;
}

.basket-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}

.basket-item-image {
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin-right: 10px;
}

.basket-item-info {
  flex-grow: 1;
}

.basket-item-name {
  font-size: 14px;
  margin: 0;
}

.basket-item-price {
  font-size: 14px;
  font-weight: bold;
  margin: 0;
}

.basket-item-delete {
  background-color: white;
  border: none;
  padding: 5px 30px;
  cursor: pointer;
  border-radius: 3px;
}

/* hero section */

.hero-section {
  padding-top: 30px;
  background-color: #484283;
  color: white;
  line-height: 1.5;
  z-index: 2;

  h1 {
    font-size: 36px;
    font-weight: 500;
  }
  p {
    font-size: 15px;
    font-weight: 400;
  }
}

.hero-button {
  height: 60px;
  width: 250px;
  background-color: #f14f4f;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  z-index: 2;
}

.hero-container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-bottom: 50px;
}

.hero-hidden-logo {
  display: none;
}

/* products-section */

.products-section {
  padding-top: 30px;
}

.products-title {
  font-size: 30px;
  color: #444b58;
  padding-bottom: 30px;
}

.products-grid {
  display: grid;
  grid-template-columns: 1fr;
}

.products-item-price {
  font-size: 20px;
  font-weight: 500;
}

.products-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 20px;
}

.products-item-2 {
  display: none;
}

.products-item-3 {
  display: none;
}

.products-item-5 {
  display: none;
}

.products-button {
  display: flex;
  width: 200px;
  height: 60px;
  justify-content: center;
  align-items: center;
  border: none;
  color: white;
  background-color: #f14f4f;
  font-weight: 700;
  border-radius: 5px;
}

.products-button-open {
  display: none;
}

.products-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 30px;
}

.products-item-img {
  opacity: 1;
  transition: all 0.3s ease-in-out;
  pointer-events: none;
}

.products-item-img-btns {
  position: relative;
}

.products-item-btns {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  gap: 25px;
  opacity: 0;
  transition: all 0.4s ease-in-out;
  pointer-events: all;
}

.products-item-img-btns:hover .products-item-img {
  opacity: 0.5;
}
.products-item-img-btns:hover .products-item-btns {
  opacity: 1;
}

.products-item-btn {
  width: 80px;
  height: 80px;
  background-color: #444b58;
  border: none;
  border-radius: 40px;
  transition: all 0.3s ease-in-out;
}

.products-item-btn:active {
  background-color: #f14f4f;
  .svg {
    background-color: #f14f4f;
  }
}

.svg {
  background-color: #444b58;
  transition: all 0.3s ease-in-out;
}

.svg-eye {
  width: 35px;
  height: 35px;
}

.svg-vector {
  width: 32px;
  height: 30px;
}

/* bio-section */

.bio-section {
  color: white;
  background-color: #484283;
  padding-top: 35px;
  padding-bottom: 60px;
  letter-spacing: 1.3px;
  background-image: url("Images/figure.png");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  position: relative;
}

.bio-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.bio-background-man {
  display: none;
  z-index: 1;
}

.bio-title {
  font-size: 18px;
}

.bio-main {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.bio-logo {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 16px;
  gap: 12px;
}

.bio-logo-img {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.bio-logo-line {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  span {
    background-color: white;
    position: absolute;
    width: 32px;
    height: 3px;
  }
}

/* quiz-section */

.quiz-section {
  padding-block: 30px;
}

.quiz-container {
  background-color: #fff4ee;
  border-radius: 5px;
}

.quiz-title {
  color: #444b58;
  padding: 20px 20px 0 20px;
}

.quiz-main {
  color: #808080;
  padding: 20px;
  border-bottom: 1px solid #444b58;
}

/* team-section */

.team-title {
  font-size: 18px;
  padding-block: 30px;
}

.team-section {
  color: white;
  background-color: #484283;
}

.team-container {
  display: flex;
  flex-direction: column;
}

.team-grid {
  display: grid;
  grid-template-columns: 1fr;
}

.team-grid-item {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.team-grid-main {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.team-grid-img {
  max-width: 100%;
  border-radius: 5px;
}

.team-grid-name {
  font-size: 22px;
}

.team-grid-post {
  padding-bottom: 50px;
}

/* faq-section */

.faq-section {
  padding-block: 40px;
  color: #444b58;
}

.faq-title {
  font-size: 28px;
  padding-bottom: 40px;
}

.faq-button {
  display: block;
  position: relative;
  background-color: #fff;
  width: 30px;
  height: 30px;
  border: none;
  transition: all ease-in-out 0.3s;
  span {
    position: absolute;
    background-color: #444b58;
  }
  span:nth-child(1) {
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    width: 2px;
    height: 30px;
  }
  span:nth-child(2) {
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 30px;
    height: 2px;
  }
}

.faq-button-open {
  transform: rotate(45deg);
}

.faq-question-wraper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.faq-question {
  font-weight: 500;
  font-size: 20px;
}

.faq-answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height ease-in-out 0.5s, color ease-in-out 0.5s;
  color: #24242400;
}

.faq-answer::before,
.faq-answer::after {
  content: "";
  display: block;
  height: 30px;
}

.faq-answer-open {
  max-height: 300px;
  color: #24242480;
}

.faq-main {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.faq-just-line {
  border: #444b58 solid 0.5px;
}

.faq-main {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* contacts-section */

.contacts-section {
  padding-block: 30px;
  background-color: #f3f6f6;
  color: #444b58;

  a {
    color: #444b58;
  }
}

.contacts-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contacts-title {
  font-size: 28px;
  padding-bottom: 20px;
  color: #444b58;
  padding-top: 30px;
}

.contacts-place-btn {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}

.contacts-button {
  background-color: #fff;
  color: #444b58;
  border: none;
  width: 25px;
  height: 25px;
  border-radius: 25px;
  padding: 0;
  margin: 0;
  display: block;
}

.contacts-tooltip {
  width: 25px;
  height: 25px;
  position: relative;
}

.contacts-tooltip-txt {
  background-color: white;
  color: #444b58;
  font-size: 14px;
  padding: 20px 18px 18px 22px;
  border-radius: 10px;
  width: 200px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: all 0.3s ease-in-out;
  z-index: 0;
}

.contacts-button:hover + .contacts-tooltip-txt,
.contacts-button:focus + .contacts-tooltip-txt {
  opacity: 1;
  transform: translate(-50%);
  z-index: 1;
}

.contacts-place {
  color: #b2b5bb;
  font-weight: 100;
}

.contacts-item {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contacts-address {
  font-size: 13.5px;
}

.contacts-phone {
  font-size: 30px;
  font-weight: bold;
  color: #444b58;
}

.contacts-phone:active {
  color: #f14f4f;
}

.contacts-phone:active::after {
  width: 0;
}

.contacts-main {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 300px;
}

.contacts-map {
  width: auto;
  height: auto;
}

/* 2sections */

/* cta-section */

.cta-section {
  padding-block: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cta-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #484283;
  color: white;
  border-radius: 5px;
  width: 240px;
}

.cta-subtitle {
  display: flex;
  flex-direction: column;
  padding-block: 20px;
  justify-content: center;
  align-items: center;
}

.cta-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.cta-item {
  padding-inline: 10px;
  padding-block: 20px;
  border-radius: 5px;
  border: none;
}

.cta-button {
  background-color: #f14f4f;
  color: white;
}

/* instagram-section */

.instagram-section {
  display: none;
  object-fit: cover;
}

.instagram-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
  height: 333px;
  padding-block: 30px;
  object-fit: cover;
}

.instagram-grid {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 100%;
  height: 270px;
  object-fit: cover;
}

.instagram-photo-main {
  min-width: 50px;
  height: 250px;
}

.instagram-photo {
  min-width: 50px;
  height: clamp(3.125rem, -4.653rem + 16.2vw, 7.5rem);
}

.instagram-photo-add {
  object-fit: cover;
}

.instagram-main-photos {
  display: flex;
  flex-direction: row;
  gap: 20px;
  height: 270px;
  object-fit: cover;
}

.instagram-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* footer */

footer {
  background-color: #444b58;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
  padding-top: 30px;
}

.footer-nav {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  list-style: none;
  font-size: 21px;
}

.footer-nav-list {
  display: none;
}

.footer-logo {
  display: none;
}

/* media */

/* media - pad */

@media screen and (width > 480px) {
  .dialog-products-2sides {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .dialog-product-left {
    width: 50%;
  }

  .dialog-product-right {
    width: 40%;
  }

  .team-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
  }

  .faq-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-inline: 7%;
  }
}

/* media - laptop */

@media screen and (width > 768px) {
  .products-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
  }

  .products-item-2 {
    display: block;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    gap: 20px;
    z-index: 2;
  }

  .bio-background-man {
    display: block;
    position: relative;
    height: 100px;
    width: 100%;

    span {
      height: 1000px;
      width: 1000px;
      background-color: #484283;
      z-index: 10;
      position: absolute;
      transform: rotate(15deg);
    }

    span:nth-child(2) {
      top: 50%;
      translate: -100% -50%;
      left: 0;
    }

    span:nth-child(3) {
      top: 50%;
      translate: 40% -20%;
      left: 0;
      display: none;
    }
  }

  .bio-background-man-img {
    position: absolute;
    right: -100px;
    top: -200px;
  }

  .bio-section {
    padding-top: 120px;
    padding-bottom: 60px;
  }

  .wrapper-for-sections {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: clamp(3.125rem, -83.125rem + 115vw, 17.5rem);
  }

  .instagram-section {
    display: block;
  }
}

/* media - desktop */

@media screen and (width > 1024px) {
  .products-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
  }

  .bio-background-man {
    span {
    }
    span:nth-child(3) {
      display: block;
    }
  }

  .products-item-3 {
    display: block;
  }

  .header-nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    list-style: none;
    gap: 40px;
    padding: 0;
  }

  .header-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .header-container {
    gap: 20px;
  }

  .footer {
    display: flex;
    flex-direction: row;
    position: relative;
  }

  .footer-nav {
    display: none;
  }

  .footer-logo-1 {
    display: none;
  }

  .footer-logo {
    position: absolute;
  }

  .footer-nav-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    gap: 40px;
    padding: 0;
  }

  .burger {
    display: none;
  }

  .hero-container {
    padding-top: 30px;
    padding-bottom: 100px;
  }

  .faq-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .team-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .team-title {
    display: flex;
    align-self: flex-start;
    justify-content: flex-start;
  }

  .team-grid {
    width: 100%;
  }

  .contacts-container {
    display: flex;
    flex-direction: row;
  }

  .hero-hidden-logo {
    position: absolute;
    display: flex;
    font-size: 165px;
    font-weight: 500;
    letter-spacing: 1.2px;
    opacity: 0.15;
    z-index: 1;
  }

  .contacts-map {
    width: 70%;
    height: auto;
  }

  .footer-logo {
    display: block;
    max-width: 100px;
  }
}

/* media - widescreen */

@media screen and (width > 1280px) {
}
